@font-face {
	font-family: "Ubuntu";
	src: url("../Ubuntu-Regular.ttf");
}
@font-face {
	font-family: "Ubuntu-Bold";
	src: url("../Ubuntu-Bold.ttf");
}

nav {
	margin: 27px auto 0;

	position: relative;
	width: 500pt;
	height: 50px;
	background-color: #400626;
	border-radius: 15px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 15px;
}
a:nth-child(1) {
	width: 100pt;
}
a:nth-child(2) {
	width: 100pt;
}
a:nth-child(3) {
	width: 100pt;
}
a:nth-child(4) {
	width: 100pt;
}
a:nth-child(5) {
	width: 100pt;
}
nav .start-home, a:nth-child(3):hover~.animation {
	width: 100pt;
	left: 200pt;
	background-color: #cc1479;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 100pt;
	left: 100pt;
	background-color: #800d4c;
}
nav .start-blog, a:nth-child(1):hover~.animation {
	width: 100pt;
	left: 0pt;
	background-color: #66093c;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 100pt;
	left: 300pt;
	background-color: #f81893;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 100pt;
	left: 400pt;
	background-color: #800d4c;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #0d0107;
}

h1 {
	text-align: center;
	margin: 20pt 0 40pt;
	text-align: center;
	font-size: 32pt;
	font-family: "Ubuntu-Bold";
	color: #fdffe3;
	font-weight: bold;
	text-shadow: 4px 2px 1px #ac0b0b;
}

p {
    bottom: 25px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
	font-family: "Ubuntu";
}

.sickles {
	color: #ff0000;
	font-size: 35pt;
	font-family: "Ubuntu";
	text-shadow:
	  0 0 1pt #ffff0015,
	  0 0 2pt #ffff0027,
	  0 0 4pt #ffff0046,
	  0 0 8pt #ffff005b;

  }