nav {
	margin: 27px auto 0;

	position: relative;
	width: 500px;
	height: 50px;
	background-color: #400626;
	border-radius: 15px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 15px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 100px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 100px;
}
a:nth-child(5) {
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #cc1479;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #800d4c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 200px;
	background-color: #66093c;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 100px;
	left: 300px;
	background-color: #f81893;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 100px;
	left: 400px;
	background-color: #800d4c;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #0d0107;
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	text-shadow: 5px 5px 5px #000000;
}

p {
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}